.mainContainer {
  position: fixed;
  z-index: 999;
  background-color: rgb(16, 15, 15);
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: rgba(26, 26, 27, 0.4) 0px 2px 55px 0px,
    0 0 0 max(100vw, 100vh) rgba(128, 128, 128, 0.6);
}

.heading {
  font-size: 32px;
  padding-bottom: 30px;
  padding-top: 40px;
  font-weight: 700;
}

.nameMain {
  display: flex;
  height: 50px;
  margin-bottom: 10px;
}

.inp {
  border: none;
  outline: none;
  border-radius: 5px;
  height: 28px;
  width: 200px;
}

.inpNum {
  border: none;
  outline: none;
  border-radius: 5px;
  height: 28px;
  width: 200px;
}

.inpNum::-webkit-outer-spin-button,
.inpNum::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.radioContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.label {
  width: 180px;
  font-size: 20px;
  font-weight: 500;
}

.errorMsg {
  color: orangered;
  font-size: 14px;
}

.checkbox {
  margin-right: 5px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.checkboxMain {
  margin-right: 15px;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
}

.closeIcon {
  font-size: 30px;
  color: red;
  cursor: pointer;
}

.btnMain {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
